@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-image: url("images/table.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.container{
    position: relative;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    border-right: 1px solid rgba(34, 209, 238, 0.5);
    border-left: 1px solid rgba(34, 209, 238, 0.5);
}
/*********utilities*********/
.navbar{
    height: 80px;
}
.nav{
    display: flex;
    align-items: center;
}
/*******Header*******/
header{
    background-image: url("images/header.jpg");
    background-size: cover;
    height: 400px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    font-size: 2rem;
}
.logo .span{
    border: 2px solid #a7ff83;
    padding: 0 10px;
}
.live{
    border: none;
    color: red;
}
header ul{
    list-style: none;
    display: flex;
}
ul li{
    padding: 0 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.active{
    color: #a7ff83;
}
ul a:hover{
    border-bottom: 3px solid #a7ff83;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.glass{
    background-color: rgba(34, 209, 238, 0.05);
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}
.introduction h2{
    margin-bottom: 10px;
}
p{
    font-size: 1.4;
}
/******* main section *******/
main{
    padding: 20px;
    height: max-content;
    background-color: rgba(34, 209, 238, 0.1);
    padding-bottom: 100px;
}
.gallery{
    position: relative;
    column-count: 3;
}

img{
   width: 100%;
   height: auto;
   margin-bottom: 5px;
   transition: 0.2s ease-in;
}

img:hover{
    transform: scale(1.02);
}
h2 a{
    color: #a7ff83;
}
/******* footer *******/
footer{
    background-image: url("images/header.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/***********Gallery page styles************/

/******info page*****/
.info-main{
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e153a;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    margin: 30px;
    padding: 20px;
}
.info{
    flex: 2;
    background-color: #0e153a;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    line-height: 1.6rem;
}
.info-main img:hover{
    transform: none;
}
.profile-picture{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}